<div class="row mt-3  justify-content-center">
  <div class="col-md-11 card" >
    <div class="row " style="background: rgb(248, 68, 100);color: Black;margin: 10px;padding: 10px;">
      <div class="col-md-12 d-flex justify-content-center" >
        <h2 class="mb-0">Movies</h2>
      </div>
    </div>
    <hr>
    <div class="row mt-2">
      <div class="col-md-12">
        <div class="row mb-3">
          <div class="col-md-12 overflow-auto" style="height: 35rem;">
            <div>
              <div class="card">
                <div class="card-header flex-row" >
                  <div class="row">
                    <div class="col-md-8">
                      <h2><b>Brahmāstra: Part One – Shiva</b></h2>
                    </div>
                    <div class="col-auto">
                      <button class="button" type="button" routerLink="/dashboard/bookslot">
                        Book Now
                      </button>
                    </div>
                  </div>
                </div>             
                <div>
                  <div class="card-body">
                    <div class="row">
                      <div class="col-md-7 mr-auto">
                        <h4><b> Location :</b></h4> <p>PVR Acropolis</p>
                        <hr>
                        <h4><b> About : </b></h4> <p>A young man on the brink of falling in love gets his world turned upside down when he discovers he has the power to control fire and a connection to a secret society of guardians.</p>
                        <div class="col-md-7 mr-auto">
                        </div>
                      </div>
                      <div class="col-auto mr-auto">
                        <br><h3><b>Shows :</b> 4</h3>
                        <br><h4><b> Seatings :  </b></h4>
                        <div>
                          <p>Classic : Rs 250</p>
                          <p>Prime : Rs 325</p>
                          <p>Prime Plus : Rs 400</p>
                        </div>
                      </div>
                      <br>
                      <div class="col-auto">
                        <div class="col-auto">
                          <img src="https://encrypted-tbn3.gstatic.com/images?q=tbn:ANd9GcSy7CgiiiiJSr9NXfKARKzxwrqOiEW4e_hTss90U0Gi3CfuYA2-" width="163px" height="208px"alt="error">
                        </div>
                      </div>
                    </div>
                  </div>
                </div>
              </div>
              <div class="card">
                <div class="card-header flex-row" >
                  <div class="row">
                    <div class="col-md-8">
                      <h2><b>Avatar</b></h2>
                    </div>
                    <div class="col-auto">
                      <button class="button" type="button" routerLink="/dashboard/bookslot/">
                        Book Now
                      </button>
                    </div>
                  </div>
                </div>             
                <div>
                  <div class="card-body">
                    <div class="row">
                      <div class="col-md-7 mr-auto">
                        <h4><b> Location :</b></h4> <p>Cinepolis</p>
                        <hr>
                        <h4><b> About : </b></h4> <p>Jake, who is paraplegic, replaces his twin on the Na'vi inhabited Pandora for a corporate mission. After the natives accept him as one of their own, he must decide where his loyalties lie.</p>
                        <div class="col-md-7 mr-auto">
                        </div>
                      </div>
                      <div class="col-auto mr-auto">
                        <br><h3><b>Shows :</b> 4</h3>
                        <br><h4><b> Seatings :  </b></h4>
                        <div>
                          <p>Classic : Rs 250</p>
                          <p>Prime : Rs 325</p>
                          <p>Prime Plus : Rs 400</p>
                        </div>
                      </div>
                      <br>
                      <div class="col-auto">
                        <div class="col-auto">
                          <img src="https://encrypted-tbn1.gstatic.com/images?q=tbn:ANd9GcQXDaxvXPpbQkUf2ifM7yg6b-AIsZT3o_hMf8nFLcttL-PVAM6r" width="163px" height="208px"alt="error">
                        </div>
                      </div>
                    </div>
                  </div>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>

