<div class="row mt-3  justify-content-center">
    <div class="col-md-11 card " >
        <div class="row " style="background: rgb(248, 68, 100);color: Black;margin: 10px;padding: 10px;">
            <div class="col-md-12 d-flex justify-content-center" >
                <h2 class="mb-0">My Bookings</h2>
            </div>
        </div>
        <hr>
        <div class="row mt-2">
            <div class="col-md-12">
                <div class="row mb-3">
                    <div class="col-md-12 overflow-auto" style="height: 35rem;">
                        <div class="accordion" id="accordionExample">
                            <div>
                                <div  class="card">
                                    <div class="card-header" id="headingTwo">
                                        <div class="row">
                                            <div class="col-md-3">
                                                <h3><b>Movie Name :</b> Brahmāstra: Part One – Shiva</h3>
                                            </div>
                                            <div class="col-md-7">
                                                <h3><b>Date :</b> 2022-09-28</h3>
                                            </div>
                                        </div>
                                    </div>
                                    <div>
                                        <div class="card-body">
                                            <div class="row">
                                                <div class="col-auto mr-auto">
                                                  <b>Show Time : </b> 03:00 PM <br> 
                                                  <b>Seating Type :</b> Prime Plus <br> 
                                                  <b>Count :</b> 4<br> 
                                                  <div >
                                                    <b>Cost :</b> 1600 Rs
                                                  </div>
                                                </div>
                                                <!-- <div class="col-auto" *ngIf='booking.paid == 0'>
                                                  <button class="button" (click) = 'endBooking(booking.bookingid)'>Confirm</button>
                                                </div> -->
                                                <div class="col-auto">
                                                    <p class="text-success font-weight-bold">Booking Completed</p>
                                                  </div>
                                            </div>  
                                        </div>
                                    </div>
                                </div>
                                <div  class="card">
                                    <div class="card-header" id="headingTwo">
                                        <div class="row">
                                            <div class="col-md-3">
                                                <h3><b>Movie Name :</b> Brahmāstra: Part One – Shiva</h3>
                                            </div>
                                            <div class="col-md-7">
                                                <h3><b>Date :</b> 2022-09-29</h3>
                                            </div>
                                        </div>
                                    </div>
                                    <div>
                                        <div class="card-body">
                                            <div class="row">
                                                <div class="col-auto mr-auto">
                                                  <b>Show Time : </b> 12:00 PM <br> 
                                                  <b>Seating Type :</b> Prime <br> 
                                                  <b>Count :</b> 2<br> 
                                                  <div >
                                                    <b>Cost :</b> 650 Rs
                                                  </div>
                                                </div>
                                                <div class="col-auto" >
                                                  <button class="button" >Confirm</button>
                                                </div>
                                                <!-- <div class="col-auto">
                                                    <p class="text-success font-weight-bold">Booking Completed</p>
                                                  </div> -->
                                            </div>  
                                        </div>
                                    </div>
                                </div>
                            </div>  
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>


